@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin : 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    position: relative;
}

#main{
    margin : 1rem;
}
#footer{
    bottom: -10;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #b3c7c9;
    color: #4f4f4f;
    text-align: left;
    padding-left: 1rem;
    line-height: 50px;
}

#footer span a{
    color: #363535;
    margin-inline: 10px;
}
#footer span img{
    width: 1rem;
    height: auto;
}
